html, body {
    height: 100%;
    width: 100%;
    background-color: skyblue
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

error- {
    text-decoration: red wavy underline;
}

mytag {
    font-weight: bold;
}